<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <title>440Hzを当てるやつ！</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@hashedhyphen" />
    <meta name="twitter:creator" content="@hashedhyphen" />
    <meta property="og:url" content="https://pitch-test.now.sh/" />
    <meta property="og:title" content="440Hzを当てるやつ！" />
    <meta
      property="og:image"
      content="https://raw.githubusercontent.com/hashedhyphen/pitch-test/master/misc/440.png"
    />
    <% preact.headEnd %>
  </head>
  <body>
    <% preact.bodyEnd %>
  </body>
</html>
